/*
 * Here we use the id of the div to set some enclosing values
 * for the slide area, border, top offset, left offset, overall width
 */
#slick-carousel {
    border:     1px solid black;
    top:        50px;
    left:       50px;
    width:      800px;
    height:     100px;
}

#gallery-carousel {
    border:     1px solid blue;
    top:        50px;
    left:       50px;
    width:      800px;
    height:     100px;
}

#parts-carousel {
    border:     1px solid green;
    top:        50px;
    left:       50px;
    width:      800px;
    height:     100px;
}

/* width here in .slick-slide defines the width of the
 * individual cell
 */
.slick-slide {
    width: 100px;
}

.slick-prev:before, .slick-next:before {
    color:    silver;
}